h2.a{
    color:red;
}
span.c{
    color:brown;
}
strong.d{
    color:cadetblue;
}
sub.e{
    color:chocolate;
}
.f{
    color:crimson;
}
.g{
    color:darkgoldenrod;
}
.h{
    color:rgb(210, 207, 30); 
}
span.k{
    color: darkred;
}
span.l{
    color: deeppink;
}
span.m{
    color: gold;
}
sub.n{
    color: indigo;
}
span.o{
    color: lawngreen;
}
sub.p{
    color: maroon;
}
span.q{
    color: midnightblue;
}
span.r{
    color: orangered;
}
span.s{
    color: peru;
}
sub.t{
    color: purple;
}
span.u{
    color: royalblue;
}
sub.v{
    color: sienna;
}
span.w{
    color:springgreen;
}
sub.x{
    color: yellow;
}
span.y{
    color: red;
}
span.z{
    color: seagreen;
}
sub.a1{
    color: purple;
}

